.features{
    margin-top: 150px;
}
.features-title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
}
.features-subtitle{
    text-align: center;
    margin-top: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
.features__cards{
    margin-top: 100px;
}
.features__card__container-f{
    display: flex;
    justify-content: center;
    
}

.features__card-1{
    margin-right: 42px;
}
.features__card-2{
    padding-top: 30px;

}
.features__card__container-s{
    display: flex;
    justify-content: center;
}
.features__card-4{
    margin-left: 42px;
}