/* HEADER */

.header__container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 50px;
}
.header__container__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    display: inline-block;
    margin-left: 121px;
}
.navbar__links{
    padding-left: 40px;
    color: #4B5D68;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    
    
}
.navbar__links:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
}
.button__link{

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
}